/*estilos generales*/
*{
    padding: 0; /* Espacio interno, entre el contenido y el borde del elemento */
    margin: 0;/* Espacio externo, entre el borde del elemento y otros elementos */
}
body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*estilo de navbar*/
nav{
    position: relative;/*mueve de posicion pero sigue manteniendose en la caja original*/
    z-index: 1;/*hace que ponga la caja por detras o encima de los demas elementos*/
}
.navbar-menu{
    background: #000000;
    height: 50px;
    width: 100%;
    position: fixed;
}
.logo{
    position: absolute;/* el tamaño del elemento se ajusta a su contenido pero no cambia su naturaleza*/
    top: 8px;
    left: 5%;
    color: white;
    font-size: 30px;
    font-weight: bold;
   
}

.navbar-menu ul{
    float: right;/*va moverse de lado derecho*/
    margin-right: 20px;
    list-style: none;
}
.nav-options li{
    display: inline-block;/*si estaba en fila ahora se pone en columna*/
    line-height: 50px;
    margin: 0 5px;/* Espacio externo, entre el borde del elemento y otros elementos */
}

.nav-options li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;/*text mayuscula*/
    font-size: 20px;
    padding: 5px 10px; /* Espacio interno, entre el contenido y el borde del elemento */
border-radius: 3px;/*sea redondo las puntas*/
}

a:hover{
    background-color: blueviolet;
    transition: .5s;/*el tiempo que activa el hover*/
}
a:focus{
border-color: blue;
}
/*es el icono de menu*/
.checkbtn {
    font-size: 25px;/*tamaño del elemento*/
    float: right;
    color: white;
    line-height: 50px;
    margin-right: 25px;
    cursor: pointer;
    display: none;/*PARA QUE NO SE VEA EN TAMAÑO NORMAL*/
}
#check{
    display: none;/*estoy ocultando el check*/
}
/*contenedor ocupara el ancho del elemento padre*/
section{
    width:100% ;
}
/*Banner*/
.banner{
     height: 97vh;/*contenedor ocupara el alto del elemento padre*/
    position: relative; 
}
.banner-content img{
    margin: 5px  0;
      width:100% ;/*se adaptara al ancho del padre*/
  }

.banner-text{
position: absolute;
color: rgb(0, 0, 0);
top: 95%;
left: 1%;
right: 50%;
transform: translateX(0%)translateY(-85%);
}

.banner-text h2{
    font-size: 45px;
}
.banner-text a{
    width: 100%;
    color: rgb(71, 82, 97);
    text-decoration: none;
    padding: 7px;
    border: 3px solid antiquewhite;
}
.banner-text a:hover{
    background-color: #000000;
    color: white;
}

.banner-text p{
    margin-bottom: 15px;
}
/*Trabajos*/
.about{
height: 97vh;
    position: relative;
    background-color: #302d2d;
    color: white;
}
.about-content{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;

}
.about-content h2{
    font-size: 45px;
    text-transform: uppercase;
}

.about-content p,.about-content h2{
    padding: 10px 50px;
}
.about-img{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 50px;
}
.about-imgx{
    width: 33%;
    float: left;
}

.img-job{
    width: 280px;
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

} 
/*Clientes*/
.testimonios{
    height: 97vh;
    position: relative;
    background: url(img/testimonio.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.testimonios-content{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    text-align: center;
}
.testimonios-content h2{
    font-size: 45px;
    text-transform: uppercase;
}
.testimonios-content p,.testimonios-content h2{
    padding: 10px 50px;
}
.testimonios-group{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 50px
}

.testimonios-card{
width: 33%;
float: left;
}

.img-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid white;
}
/*Contacto*/
.contacto{
    height: 97vh;
    position: relative;
}
.contacto-content{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    text-align: center;
}
.contacto-content h2{
    font-size: 45px;
    text-transform: uppercase;
}
.contacto-content p{
    padding: 10px 50px;
}
.contacto-group{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0 50px;
}
.form-contact{
    width: 50%;
    float: left;
}
.form-control{
    width: 85%;
    padding: 0.8rem;
    margin: 0.6rem 1rem;
    display: block;
    font-size: 1rem;
    outline: 0;

    border-radius: 5px;
    border: 1.5px solid #c7c7c7;
}
.send-btn{
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(212, 128, 248);
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    margin: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    background: #1172f2;
    transition: all .5s;
}
.contacto-img{
    width: 50%;
   float: left;
}
.contacto-img img{
width: 100%;
display: block;
margin: auto;
}
/*Pie de Pagina*/
footer{
    position: relative;
}
.footer{
    height: 10vh;
    background:#000000;
    color: white;
}

.social{
    width: 50%;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.social label a{
    color: white;
}

.social label i{
    font-size: 25px;
    padding: 0 10px;
}
.social label i:hover{
    color: rgb(240, 226, 252);
}
.copr{
    width: 50%;
    float: left;
    margin-top: 20px;
    text-align: left;
}
/*tablet horizontal columna*/
@media(max-width: 1024px){

    .logo{
        padding-left: 40px;/*se movera mas a la derecha*/

    }
    .nav-options li a{
        font-size: 16px;/*el tamaño bajara*/
        padding: 7px 10px;/*se separaran un poco*/
    }

    .banner{
        height: 70vh;
    }

    .banner-content img{
        margin-top: 50px;
    }
    .banner h2{
        font-size: 30px;
    }

    .about,.testimonios,.contacto{
        height: 100vh;
    }
    .img-job{
        width: 210px;
        height: 210px;
    }
    .testimonios-card p{
        font-size: 13px;
    }
    .img-perfil{
        width: 150px;
        height: 150px;
    }
    .form-control{
        width: 75%;
        padding: 0.3rem;
        margin: 0.6rem 1rem;
    }
    .send-btn{
        font-size: 0.8rem;
    }
    .footer{
        height: 15vh;
    }
    .social{
        width: 100%;
    }
    .social label i{
        font-size: 25px;
    }
    .copr{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
}
/*tablet vertical fila*/
@media(max-width:768px){
    .checkbtn{
        display: block;/*PARA QUE APAREZCA EL MENU ya que tiene display none al principio*/

    }
    .nav-options{
        position: fixed;
        width: 100%;/*ocupa la pantalla*/
        height: 100vh;/*ocupa la pantalla*/
        background: #1172f2;
        top: 50px;/*se mueve hacia abajo para que se vea el logo*/
        left: -100%;
        text-align: center;/*como la caja se agrando ahora se puede centrar el texto*/
       transition: all .5s;/*para que no aparezca de golpe*/
    }

    /*LA LISTA DE MENU SE MOVERA Y MOSTRARA EN VERTICAL*/
    .nav-options li{
        display: block;/*se mostrara en vertical osea en fila LAS LISTAS*/
        border-bottom: 1px solid white;
        z-index: 1;
    }
    .nav-options li a{
        font-size: 18px;/*cambiara el tamaño del elemento*/
    }
    nav li:hover{
        background-color:white ;
    }
    nav li a:hover{
        color: #000000;/*al pasar el cursos la lentra cambiara a negro*/
    background-color: #1172f2;
    }
    #check:checked ~ ul{
        left: 0;/*al hacer click en menu aparecera la lista desordenadas desde la izquierda*/
    }

    .banner{
        height: 40vh;
    }

    .banner h2{
        font-size: 17px;
    }
    .banner-text{
        margin-top: -20px;
    }

    .banner-text p{
        font-size: 10px;
        margin-bottom: -1px;
    }
    
    .banner-text a{
        font-size: 10px;
        width: 20px;
        padding: 3px;

    }
    .about,.testimonios,.contacto{
        height: 165vh;

    }
    .about-content h2,.testimonios-content h2,.contacto-content h2{
        font-size: 20px;

    }
    .about-content p{
        font-size: 15px;
    
    }
    .about-content h4{
        font-size: 10px;
    
    }
    .about-imgx{
        width: 100%;
        margin-bottom: 70px;
     }
     .testimonios-content h2{
        font-size: 25px;

     }
     .testimonios-card p{
        font-size: 10px;

     }
        .testimonios-card{
            width: 100%;
            margin-bottom: 20px;
        }
        .form-contact,.contacto-img{
            width: 100%;
            margin-bottom: 20px;
        }
        .form-control,.send-btn{
            margin-left: auto;
            margin-right: auto;
        }
        .send-btn{
            width: 77%;
        }
        .copr p{
            font-size: 14px;
        }
}

